<body>
  <header>
    <nav class="navbar navbar-expand-sm bg-info">
      <div class="container-fluid">
        <img src="/assets/images/logo.jpg" width="5%" height="5%">
        <hr>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="boot.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="register.html" target="blank">Register</a>
            </li>
            <li class="nav-item dropdown ">
              <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Contact Us
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="https://www.whatsapp.com" target="blank">Whatsapp</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Phone</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Telephone</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled active">About</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </header>


  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="1000">
        <img src="/assets/images/bgp1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>JP Group of Companies</h5>
          <p>Leading web development company in india. </p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="1000">
        <img src="/assets/images/bgp2.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>JP Group of Companies</h5>
          <p>Leading web development company in india. </p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="1000">
        <img src="/assets/images/bgp3.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>JP Group of Companies</h5>
          <p>Leading web development company in india. </p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>



  <div class="container-fluid ">
    <div class="row m-4 ">
      <div class="col-md-3 ">
        <div class="card" style="width: 18rem;height:22rem;">
          <img src="/assets/images/img1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Desktop Applications</h5>
            <p class="card-text"> An application that runs stand-alone in a desktop or laptop computer. Contrast with
              "Web-based application.</p>
            <div class="text-center">
              <a href="#" class="btn btn-primary">Register</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 ">
        <div class="card" style="width: 18rem; height:22rem;">
          <img src="/assets/images/img2.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Web Development</h5>
            <p class="card-text">A web application is a computer program that utilizes web browsers and web technology
              to perform tasks over the Internet.</p>
            <div class="text-center ">
              <a href="#" class="btn btn-primary">Register</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="width: 18rem;height:22rem;">
          <img src="/assets/images/img3.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Mobile Applications</h5>
            <p class="card-text">A mobile application, most commonly referred to as an app,
              is a type of application software designed to run on a mobile device.</p>
            <div class="text-center ">
              <a href="#" class="btn btn-primary btn-center">Register</a>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-3">
        <div class="card" style="width: 18rem;height:22rem;">
          <img src="/assets/images/img6.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Cloud Storage</h5>
            <p class="card-text">Cloud storage, most commonly referred to as an memory,
              is a type of application software designed to store data.</p>
            <div class="text-center ">
              <a href="#" class="btn btn-primary btn-center">Register</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="text-center m-5">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      Register Yourself
    </button>
  </div>


  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" id="staticBackdropLabel">Registration Form</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form onsubmit="return display(this)">
            <h3>Enter your name:</h3>
            <label for="fname">*First Name</label>
            <input type="text" name="fname" id="fname" value="" placeholder="first name"><br>
            <label for="lname">*Last Name</label>
            <input type="text" name="lname" id="lname" value="" placeholder="last name"><br>
            <span id="fname1" class="error"></span><span id="lname1" class="error"></span>
            <h3>Enter your E-mail:</h3>
            <label for="email">*E-mail</label>
            <input type="text" name="email" id="email" value="" placeholder="E-mail"><br>
            <span id="email1" class="error"></span>
            <h3>You are logging as:</h3>
            <label for="dropdown">*logging as</label>
            <select id="dropdown">
              <option value="" disabled="disable" selected="selected">-select-</option>
              <option>User</option>
              <option>Adminstrator</option>
              <option>Developer</option>

            </select><br>
            <span id="drop1" class="error"></span>
            <h3>Your Gender:</h3>
            <label for="response">*Gender</label>
            <div id="response">
              <input type="radio" class="button" name="gender" id="male" value="male">Male<br>
              <input type="radio" class="button" name="gender" id="female" value="female">Female<br>
              <input type="radio" class="button" name="gender" id="others" value="others">Others
            </div>
            <span id="rmreq" class="error"></span>
            <h3>Languages known:</h3>
            <input type="checkbox" id="english" name="box" value="english">
            <label id="check">English</label><br>
            <input type="checkbox" id="hindi" name="box" value="hindi">
            <label id="check">Hindi</label><br>
            <input type="checkbox" id="odia" name="box" value="odia">
            <label id="check">Odia</label><br>
            <span id="cmreq" class="error"></span><br>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Submit</button>


            </div>

          </form>

          <script>
            function display(event) {
              if (fname.value === "") {
                document.getElementById("fname1").innerHTML = "*first name is required";
                return false;
              }
              else {
                document.getElementById("fname1").innerHTML = "";
              }

              if (lname.value === "") {
                document.getElementById("lname1").innerHTML = "*last name is required";
                return false;
              }
              else {
                document.getElementById("lname1").innerHTML = "";
              }
              if (email.value === "") {
                document.getElementById("email1").innerHTML = "*email is required";
                return false;
              }
              else {
                document.getElementById("email1").innerHTML = "";
              }
              if (dropdown.value === "") {
                document.getElementById("drop1").innerHTML = "*select an option";
                return false;
              }
              else {
                document.getElementById("drop1").innerHTML = "";
              }

              if (male.checked == true) {
                document.getElementById('rmreq').innerHTML = "";
              }
              else if (female.checked == true) {
                document.getElementById('rmreq').innerHTML = "";
              }
              else if (others.checked == true) {
                document.getElementById('rmreq').innerHTML = "";
              }
              else {
                document.getElementById('rmreq').innerHTML = "*please select an option";
                return false;
              }

              if (english.checked == true) {
                document.getElementById('cmreq').innerHTML = "";

              }
              else if (hindi.checked == true) {

                document.getElementById('cmreq').innerHTML = "";

              }
              else if (odia.checked == true) {

                document.getElementById('cmreq').innerHTML = "";

              }
              else {
                document.getElementById('cmreq').innerHTML = "*please select an option";
                return false;
              }
            }
          </script>
        </div>

      </div>
    </div>
  </div>
  <footer class="bg-secondary  text-light text-end p-3">
    &#169;JP Company

  </footer>
</body>